[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend
[submodule "themes/pagi-hello-friend"]
	path = themes/pagi-hello-friend
	url = https://github.com/Pagi-Maula/hugo-theme-hello-friend.git
